/* @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@900&display=swap'); */


/* @font-face
{
    src: url("FiraSans-Black.ttf");
    font-family: xoxishingiz;
}

h1{
    font-family: xoxishingiz;
    /* font-family: 'Fira Sans', sans-serif; 
}
*/

.box_flex{
    width: 300px;
    height: 200px;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.box_grid{
    width: 300px;
    height: 200px;
    
    display: grid;
    place-items: center;
    background-color: rgb(209, 104, 18);
}